@import url('https://fonts.googleapis.com/css??family-Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  width: 350px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.card::before,
.card::after {
  content:'';
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50px;
  filter: blur (35px);
  z-index: -20;
  transition: all .4s;
}
.card::before{
  top: -5%;
  left: -5%;
  background: palevioletred;
}
.card::after{
  bottom: -5%;
  right: -5%;
  background: #456816;
}
.card:hover::before{
  transform: translateY(100%) scale(2);
}
.card:hover::after{
  transform: translateY(-100%) scale(2);
}